@import '../variables';

.Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    background: $primary;
    color: $light;
    padding: 0.5rem;
    min-width: 7rem;
    cursor: pointer;
    border: none;
    border-radius: $rounded;

    &:hover {
        background: darken($primary, 5);
    }
}